.svn
.anjuta
.tm_project*
.libs
.deps
.*swp
.nautilus-metafile.xml
*.autosave
*.pws
*.bak
*~
#*#
*.gladep
*.la
*.lo
*.o
*.class
*.pyc
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
intltool-extract*
intltool-merge*
intltool-modules*
intltool-update*
libtool
prepare.sh
stamp-h*
ltmain.sh
mkinstalldirs
config.guess
config.sub
Makefile
Makefile.in

build-joyfly_cpp-Desktop_Qt_5_4_0_clang_64bit-Debug

.anjuta_sym_db.db

.cvsignore

src/GeneratedFiles

*.user

missing

autoscan.log

compile

COPYING

depcomp

INSTALL

install-sh

*.xcbkptlist

src/joyfly_cpp.pro.user.ee31ec1

TODO.tasks
